.geners-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-inline: 200px;
}

.gener{
    position: relative;
    transition: all .3s ease-in-out;
}



.geners-grid .gener .gener-name{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    background-color: rgba(213, 233, 252, 0.3);
    color: var(--maincolor);
    font-family: Cairo;
    font-size: 28px;
    font-weight: 600;
    box-shadow: 0 0 10px var(--maincolor);
    transition: all .3s ease-in-out;
}

.gener:hover .gener-name{
    opacity: 0;
}

.gener:hover{
    scale: 1.05;
}

.geners-grid .gener .gener-img{
    display: flex;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1020px) {
    .geners-grid{
        grid-template-columns: repeat(2,1fr);
        margin-inline: 40px;
    }
}

@media screen and (max-width: 730px) {
    .geners-grid{
        grid-template-columns: repeat(1,1fr);
        margin-inline: 30px;
    }
}